doctype html
html(lang="en")
	head
		title Mi Primera Página Web
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="/css/main.css")
		link(rel="stylesheet" type="text/css" href="/css/animate.css")
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico")
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700")
	body
		section(class="full-height text-center" id="main-content")
			div(class="data")
				div(class="center-block nf top-space")
					img(src="img/galleta.png" class="col-md-3 col-sm-4 col-xs-6 nf animated fadeIn")
					h1(class="pacifico big green animated fadeIn delay-1") Cookie Chips
					div(class="animated fadeInDown delay-1-5")
						h2 Ven, come y diviértete
						p Somos una empresa conformada por gente trabajadora...
						nav(class="medium")
							a(href="menu.html" class="right-space") Menú
							a(href="contacto.html" class="right-space") Contacto