doctype html
html(lang="en")
	head
		title Mi Primera Página Web
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="/css/main.css")
		link(rel="stylesheet" type="text/css" href="/css/animate.css")
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico")
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700")
	body
		nav(class="gray padding-largo text-center")
			ul(class="no-list medium")
				li(class="pacifico col-md-3 col-sm-3 inline-block")
					a(href="index.html" class="green pacifico") Cookie Chips #[small(class="lato small") Vive, convive y diviértete]
				li(class="col-md-3 col-sm-3 inline-block")
					a(href="contacto.html") Contacto
				li(class="col-md-3 col-sm-3 inline-block")
					a(href="menu.html") Menú
		block contenido